/* LOGIN */

.login {
  display: flex;
  justify-content: center;
}

.loginWrapper {
  background-color: #b94d04;
  margin: 20px;
  padding: 40px;
  color: white;
  border-radius: 16px;
}
.loginWrapper h2 {
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
}

.loginWrapper form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.loginWrapper form div {
  display: flex;
  flex-direction: column;
}

.loginWrapper form div input {
  height: 30px;
}

.loginWrapper form .loginBtnWrapper input {
  text-align: center;
  background-color: white;
  border: none;
  border-radius: 16px;
  color: black;
  cursor: pointer;
  height: 30px;
  font-size: 16px;
}

.loginWrapper form .loginBtnWrapper input:hover {
  background-color: rgb(133, 132, 132);
  font-weight: bold;
}
